@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 600px;
}

.card .product-image {
    border-radius: 10px 0 0 10px;
    width: 300px;
}

.card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.info .product-type {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 25px;
}

.info .product-name {
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    width: 200px;
    margin-bottom: 25px;
    line-height: 30px;
}

.info .description {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
}

.info .price {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.price .discount-price {
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.price .full-price {
    font-weight: 500;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.add-button img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.add-button p {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.add-button:hover {
    background-color: hsl(156, 42%, 18%);
}